node_modules/
dist/
.env
.env.*
.env.example
!.env.production.example
.env.example
!**/.env.*.example
.DS_Store
.vscode/
coverage/
.nyc_output/
.postgres-data/
.postgres-pw
.pnpm-debug.log
.pnpmfile.cjs
docker-compose.override.yml
**/node_modules
**/dist
**/.next
**/.turbo
**/.cache
**/.env
**/.env.*
!.env.production.example
!**/.env.*.example
