node_modules/
dist/
.env
.env.*
!.env.example
!**/.env.example
!**/.env.*.example
.DS_Store
.vscode/
coverage/
.nyc_output/
.pnpm-debug.log
.pnpmfile.cjs
docker-compose.override.yml
**/node_modules
**/dist
**/.turbo
**/.cache
**/.env
**/.env.*
